<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Exists - Video sharing service</title>
  <link th:rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<main class="error-container">
  <h1 id="mainTitle">A user with this username already exists!</h1>
  <a th:href="@{/register.html}">
    <button class="buttonsUsers">Go Back To Registration</button>
  </a>
</main>

</body>
</html>