<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Youtube Page - My Profile</title>
  <link th:rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<header>
  <a th:href="@{/}" class="titlesLink"><h1 class="titles"> Darko's YouTube copy</h1></a>
  <div class = "users">
    <ul class="navigation">
      <li class="nav"><a th:href="@{/}"><button class="buttonsUsers"> Back to Home Page </button></a></li>
    </ul>
  </div>
</header>
<br>
<!--'/users/'+${users.getUser_id()}-->
<main>
  <th:block th:each="channel : ${channels}">
    <h2 th:text="${channel.getChannelName()}" class="greeting"></h2>
    <p th:text="${channel.getDescription()}" class="channel-description"></p>
    <h4 th:text="${channel.getSubscribers()} + ' Subscribers'" class="channel-subscribers"></h4>
  </th:block>
  <th:block th:each="channel : ${channels}">
    <a sec:authorize="isAuthenticated()" th:if="${channel.getUser().getUsername()} != ${username} and ${!exists}"  th:href="'/channel/'+${channel.getChannelName()}+'/subscribe'"><button class="buttonsUsers">Subscribe</button></a>
    <a sec:authorize="isAuthenticated()" th:if="${exists}" th:href="'/channel/'+${channel.getChannelName()}+'/unsubscribe'"><button class="buttonsUsers">Unsubscribe</button></a>
  </th:block>

</main>
<br>

<footer>
  <div class = "contents">
    <p id = "contents_text">This site was made by a student from Subotica</p>
  </div>
</footer>
</body>
