<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Video sharing service - Channel Creation</title>
  <link th:rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<header>
  <h1>Channel Creation</h1>
  <div class="users">
    <a th:href="@{/}"><button type="button" class="buttonsUsers">Back to Main Page</button></a>
  </div>
</header>

<main>
  <form th:action="@{/channel/create}" method="post" class="form">
    <h2>Create a new channel</h2>

    <div class="form-group">
      <label for="channelName">Channel name</label>
      <input type="text" id="channelName" name="channelName" class="form-input" required>
    </div>

    <div class="form-group">
      <label for="description">Channel Description</label>
      <textarea id="description" name="description" class="form-input form-textarea" rows="4" required></textarea>
    </div>

    <div class="form-actions">
      <button type="submit" class="buttonsConfirm">Submit</button>
    </div>
  </form>
</main>

<footer>
  <div class="contents">
    <p id="contents_text">This site was made by a student from Subotica</p>
  </div>
</footer>

</body>
</html>