<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirm Account Deletion - Video sharing service</title>
  <link th:rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<main class="error-container">
  <h1 id="mainTitle">Are you sure you want to delete your account?</h1>
  <div class="confirmation-actions">
    <a th:href="'/users/delete'">
      <button class="buttonsUsers btn-danger">Yes</button>
    </a>
    <a th:href="'/users/'+${user.getUser_id()}">
      <button class="buttonsUsers">No</button>
    </a>
  </div>
</main>

</body>
</html>