<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Denied - My Youtube Page</title>
    <link th:rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<main class="error-container">
    <h1 id="mainTitle">You cannot access this page!</h1>
    <a th:href="@{/}">
        <button class="buttonsUsers">Go Back To Main Page</button>
    </a>
</main>

</body>
</html>