<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Youtube Page</title>
    <link th:rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

    <header>
        <h1> Darko's YouTube copy</h1>
        <div class = "users">
            <p th:each="string, iStat : ${newUsers}" th:text="${string.toString()}" class="newUsersInHour"></p>
            <ul class="navigation">
                <li class="nav" sec:authorize="!isAuthenticated()"><a th:href="@{login.html}"><button class="buttonsUsers"> Login </button></a></li>
                <li class="nav" sec:authorize="!isAuthenticated()"><a th:href="@{register.html}"><button class="buttonsUsers"> Register </button></a></li>
                <li class="nav" sec:authorize="isAuthenticated()"><a th:href="@{loggedOut.html}"><button class="buttonsUsers"> Log Out</button></a></li>
            </ul>

        </div>
    </header>
    <br>

    <main>
        <h2 id = "mainTitle">Today's top picks</h2>
        <br>
        <div id = "items">
            <div id="items1">
                <div class = item th:each = "video, iStat : ${videos}" th:if="${iStat.index <= 4}">
                    <img src="https://www.ef.uns.ac.rs/za-buduce-studente/slike/efsu2015x2.jpg" class="imgThumb">
                    <div class="underPhoto">
                        <div class="titleDiv">
                            <h3 class="title" th:text="${video.getTitle()}"></h3>
                        </div>
                        <div class="dataDiv">
                            <div class="usersname">
                                <p class="userName" th:text="${video.getPostedChannel().getUser().getUsername()}"></p>
                            </div>
                            <div class="underUsername">
                                <p class="views" th:text="${video.getViews()} + ' views'"></p>
                                <p class="date" th:text="${video.getDatePosted()}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div id="items2">
                <div class = item th:each = "video, iStat : ${videos}" th:if="${iStat.index > 4 and iStat.index<8}">
                    <img src="https://www.ef.uns.ac.rs/za-buduce-studente/slike/efsu2015x2.jpg" class="imgThumb">
                    <div class="underPhoto">
                        <div class="titleDiv">
                            <h3 class="title" th:text="${video.getTitle()}"></h3>
                        </div>
                        <div class="dataDiv">
                            <div class="usersname">
                                <p class="userName" th:text="${video.getPostedChannel().getUser().getUsername()}"></p>
                            </div>
                            <div class="underUsername">
                                <p class="views" th:text="${video.getViews()} + ' views'"></p>
                                <p class="date" th:text="${video.getDatePosted()}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <br>

    <footer>
        <div class = "contents">
            <p id = "contents_text">This site was made by a student from Subotica</p>
        </div>
    </footer>
</body>
