<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Youtube Page</title>
    <link th:rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<header class="header-container">
    <div class="header-left">
        <a th:href="@{/}" class="titlesLink">
            <h1 class="titles">Darko's YouTube copy</h1>
        </a>
    </div>

    <form th:action="@{/search}" method="get" class="search-form-center">
        <input
                type="text"
                name="keyword"
                class="form-input"
                placeholder="Search videos or channels..."
                th:value="${keyword}"
                required
        />
        <button type="submit" class="buttonsUsers">Search</button>
    </form>

    <div class="users header-right">
        <p th:each="string, iStat : ${newUsers}" th:text="${string.toString()}" class="newUsersInHour"></p>
        <ul class="navigation">
            <li class="nav" sec:authorize="!isAuthenticated()">
                <a th:href="@{login.html}"><button class="buttonsUsers"> Login </button></a>
            </li>
            <li class="nav" sec:authorize="!isAuthenticated()">
                <a th:href="@{register.html}"><button class="buttonsUsers"> Register </button></a>
            </li>
            <th:block th:each="users:${listUsers}">
                <li class="nav" sec:authorize="isAuthenticated()">
                    <a th:href="'/users/'+${users.getUser_id()}"><button class="buttonsUsers">My Profile</button></a>
                </li>
            </th:block>
            <li class="nav" sec:authorize="isAuthenticated()">
                <a th:href="@{loggedOut.html}"><button class="buttonsUsers"> Log Out</button></a>
            </li>
        </ul>
    </div>
</header>

<main>
    <h2 id="mainTitle">Today's top picks</h2>

    <div id="channel-videos">
        <ul id="myProfileChannelListsMain">
            <li th:each="video:${videos}">
                <div class="itemChannel">
                    <a th:href="'/videos/'+${video.getId()}">
                        <img th:src="${video.thumbnailData != null ? '/videos/thumbnail/' + video.getId() : 'data:image/svg+xml;utf8,<svg xmlns=&quot;http://www.w3.org/2000/svg&quot;></svg>'}"
                             class="imgThumb" alt="Video Thumbnail">
                    </a>
                    <div class="underPhoto">
                        <div class="titleDiv">
                            <a th:href="'/videos/'+${video.getId()}">
                                <h3 class="title" th:text="${video.getTitle()}"></h3>
                            </a>
                        </div>
                        <div class="dataDiv">
                            <div class="usersname">
                                <a class="userName"
                                   th:text="${video.getPostedChannel().getChannelName()}"
                                   th:href="'/channel/'+${video.getPostedChannel().getChannelName()}"></a>
                            </div>
                            <div class="underUsername">
                                <p class="views" th:text="${video.getViews()} + ' views'"></p>
                                <p class="date"
                                   th:if="${video.getDatePosted() != null}"
                                   th:text="${#temporals.format(video.getDatePosted(), 'dd.MM.yyyy.')}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</main>

<footer>
    <div class="contents">
        <p id="contents_text">This site was made by a student from Subotica</p>
    </div>
</footer>
</body>
</html>