<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Youtube Page</title>
    <link th:rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

    <header>
        <h1> Darko's YouTube copy</h1>
        <div class = "users">
            <ul class="navigation">
                <li class="nav" sec:authorize="!isAuthenticated()"><a th:href="@{login.html}"><button class="buttonsUsers"> Login </button></a></li>
                <li class="nav" sec:authorize="!isAuthenticated()"><a th:href="@{register.html}"><button class="buttonsUsers"> Register </button></a></li>
                <li class="nav" sec:authorize="isAuthenticated()"><a th:href="@{loggedOut.html}"><button class="buttonsUsers"> Log Out</button></a></li>
            </ul>

        </div>
    </header>
    <br>

    <main>
        <h2 id = "mainTitle">Today's top picks</h2>
        <br>
        <div id = "items">
            <div id="items1">
                <div class = item>

                </div>
                <div class = item>

                </div>
                <div class = item>

                </div>
            </div>
            <br>
            <br>
            <div id="items2">
                <div class = item>

                </div>
                <div class = item>

                </div>
                <div class = item>

                </div>
            </div>

        </div>
    </main>
    <br>

    <footer>
        <div class = "contents">
            <p id = "contents_text">This site was made by a student from Subotica</p>
        </div>
    </footer>
</body>
