<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Youtube Page - Login</title>
  <link th:rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<br>
<body>
  <header>
    <h1> Login </h1>
    <div class = "users">
      <a th:href="@{/}"><button class="buttonsUsers"> Back to Main Page </button></a>
    </div>
  </header>
  <br>
  <main class = registerMain>
    <form action="/login" method="post" class="form">
      <br>
      <h2>Login as an existing user</h2>
      <br>
      <br>
      <br>
      <div class = "forms">
        <label style="font-size:20px;">User Name:</label>
        <input type = "text" name="username">
      </div>
      <br>
      <br>
      <br>
      <div class = "forms">
        <label style="font-size:20px;">Password:</label>
        <input type = "password" name="password">
      </div>
      <br>
      <br>
      <br>
      <br>
      <div>
        <button type="submit" class="buttonsConfirm"> Submit </button>
      </div>
    </form>
  </main>
  <br>
  <footer>
    <div class = "contents">
      <p id = "contents_text">This site was made by a student from Subotica</p>
    </div>
  </footer>
</body>
</html>