<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Youtube Page - Login</title>
  <link th:rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<br>
<body>
  <header>
    <h1> Login </h1>
    <div class = "users">
      <a th:href="@{index.html}"><button class="buttonsUsers"> Back to Main Page </button></a>
    </div>
  </header>
  <br>
  <footer>
    <div class = "contents">
      <p id = "contents_text">This site was made by a student from Subotica</p>
    </div>
  </footer>
</body>
</html>