<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Youtube Page - My Profile</title>
    <link th:rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<header>
    <a th:href="@{/}" class="titlesLink"><h1 class="titles"> Darko's YouTube copy</h1></a>
    <div class="users">
        <ul class="navigation">
            <li class="nav"><a th:href="@{/}">
                <button class="buttonsUsers"> Back to Home Page</button>
            </a></li>
        </ul>
    </div>
</header>
<br>

<main>
    <p th:text="${video.getTitle()}" class="greeting"></p>
    <div class="contentsOfPage">
        <div id="left-side">
            <div id="video-items">
                <div class="video-player">
                    <p id="this-is-the-video">This is the video.</p>
                </div>

                <div id="under-vid">
                    <a th:href="'/channel/' + ${video.getPostedChannel().getChannelName()}"
                       th:text="${video.getPostedChannel().getChannelName()}" id="channel-name"></a>
                    <p th:text="'Subscribers: '+${video.getPostedChannel().getSubscribers()}"></p>
                    <th:block>
                        <a sec:authorize="isAuthenticated()" th:if="${video.getPostedChannel().getUser().getUsername()} != ${username} and ${!exists}"  th:href="'/channel/'+${video.getPostedChannel().getChannelName()}+'/subscribeFromVideo/'+${video.getId()}"><button class="buttonsUsers">Subscribe</button></a>
                        <a sec:authorize="isAuthenticated()" th:if="${exists}" th:href="'/channel/'+${video.getPostedChannel().getChannelName()}+'/unsubscribeFromVideo/'+${video.getId()}"><button class="buttonsUsers">Unsubscribe</button></a>
                    </th:block>
                    <th:block>
                        <a sec:authorize="isAuthenticated()" th:if="${!hasLiked}"  th:href="'/videos/'+${video.getId()}+'/like'"><button class="buttonsUsers">Like</button></a>
                        <a sec:authorize="isAuthenticated()" th:if="${hasLiked}" th:href="'/videos/'+${video.getId()}+'/unlikeFromVideo'"><button class="buttonsUsers">Unlike</button></a>
                    </th:block>
                    <p th:text="'Likes: ' + ${video.getLikes()}"></p>
                    <p th:text="'Views: ' + ${video.getViews()}"></p>
                </div>
                <p class="video-desc-comments"><b>Description: </b></p>
                <p th:text="${video.getDescription()}" id="video-desc"></p>
                <br>
                <br>
                <p class="video-desc-comments"><b>Comments:</b></p>
                <br>
                <div id="leave-a-comment" sec:authorize="isAuthenticated()">
                    <form th:action="'/videos/' + ${video.getId()}" method="post" id="form-leave-a-comment">
                        <input type="text" name="content" style="width:600px;">
                        <button type="submit" class="buttonsConfirm"> Submit a Comment</button>
                    </form>
                </div>
                <div id="comments">
                    <th:block th:if="${!commentsCheck}">
                        <p>This video has no comments.</p>
                    </th:block>
                    <th:block th:if="${commentsCheck}">
                        <ul class="myProfileChannelLists">
                            <li th:each="comment, iStat : ${comments}" class="comment-item">
                                <div class="pokusaj">
                                    <p th:text="${comment.getUserComm().getUsername()}"></p>
                                    <div id="comment-contents">
                                        <p th:text="${comment.getContent()}"><br></p>
                                        <div class="buttonForDeleting">
                                            <a th:href="'/videos/'+${video.getId()}+'/comment/'+${comment.getId()}"
                                               th:if="${comment.getUserComm().getUser_id()} == ${idOfUser}"
                                               id="delete-Comment">
                                                <button>X</button>
                                            </a>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </li>
                        </ul>
                    </th:block>
                </div>
            </div>
        </div>
        <div id="right-side">
            <ul th:each="video, iStat : ${listOfVideos}" th:if="${video.getId()} != ${MainId}" class="myProfileChannelLists">
                <br>
                <li>
                    <div class="item">
                        <a th:href="'/videos/'+${video.getId()}">
                            <img src="https://www.ef.uns.ac.rs/za-buduce-studente/slike/efsu2015x2.jpg" class="imgThumb">
                            <div class="underPhoto">
                                <div class="titleDiv">
                                    <h3 class="title" th:text="${video.getTitle()}"></h3>
                                </div>
                                <div class="dataDiv">
                                    <div class="usersname">
                                        <a class="userName" th:text="${video.getPostedChannel().getChannelName()}" th:href="'/channel/'+${video.getPostedChannel().getChannelName()}"></a>
                                    </div>
                                    <a th:href="'/videos/'+${video.getId()}">
                                        <div>
                                            <br>
                                        </div>
                                        <div class="underUsername">
                                            <p class="views" th:text="${video.getViews()} + ' views'"></p>
                                            <p class="date" th:text="${video.getDatePosted()}"></p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</main>
<br>

<footer>
    <div class="contents">
        <p id="contents_text">This site was made by a student from Subotica</p>
    </div>
</footer>
</body>
